* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
  }
  
  section {
    position: relative;
    height: 200px;
    width: 200px;
  }
  
  #user-avatar {
    height: inherit;
    width: inherit;
    border: 3px solid lightblue;
    border-radius: 50%;
    transition: ease-out 200ms;
  }
  
  input#upload {
    display: none;
  }
  
  label span {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: lightblue;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                0px 6px 10px 0px rgba(0, 0, 0, 0.14),               0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: ease-out 200ms;
    cursor: pointer;
  }
  
  label span:hover,
  label span:focus {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #1e94bb;
  }